@use "../../styles/variables/variables" as *;
@use "../../styles/types/types" as *;
@use "../../styles/mixins/respond-to" as *;
@use "../../styles/mixins/reset-styles" as *;

.textWithImageSection {
  @include reset-styles;
  position: relative;
  padding-top: 60px;
  padding-bottom: 100px;

  @include respond-to(minWidth768) {
    padding-top: 100px;
    padding-bottom: 200px;
  }
}

.blockWrapper {
  display: flex;
  flex-direction: column;

  @include respond-to(minWidth768) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.textWrapper {
  @include respond-to(minWidth768) {
    width: 50%;
    padding-top: 85px;
  }
}

.title {
  @include bold-35;
}

.paragraphsWrapper {
  @include paragraph;
  color: $gray;
  padding-top: 35px;

  p:not(:last-child) {
    margin-bottom: 30px;
  }

  a {
    color: $blue;
    border-bottom: 1px solid $blue;
  }

  @include respond-to(minWidth768) {
    max-width: 430px;
  }
}

.videoWrapper {
  margin-top: 60px;
  position: relative;
  @include respond-to(minWidth768) {
    margin-top: 0;
    width: min(464px, 50%);
  }
}

.video {
  position: relative;
  height: 0;
  padding-top: 100%;
  overflow: hidden;
}
