@use '../../styles/mixins/respond-to' as *;

.youtubeVideo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modalContent {
  width: 100%;
  height: 100%;
  padding: 0 15px;

  @include respond-to(minWidth768) {
    padding: 0;
  }
}
