@use '/styles/types/types' as *;
@use '/styles/mixins/respond-to' as *;
@use '/styles/variables/variables' as *;

.subMenu {
  max-height: 0;
  opacity: 0;
  visibility: collapse;
  overflow: hidden;
  transition: opacity .65s, visibility .65s, max-height .6s, padding .6s;

  &.isOpen {
    opacity: 1;
    visibility: visible;
    max-height: 100vh;
  }

  @include respond-to(minWidth768) {
    width: 100%;
    display: flex;
    flex-direction: row;

    &.isOpen {
      opacity: 1;
      visibility: visible;
      max-height: 100vh;
      padding-top: 15px !important;
    }

    &.isWrapped {
      flex-wrap: wrap;
      max-width: 80%;
    }
  }
}

.item {
  @include regular-17;
  padding: 15px 0;
  
  a {
    transition: color .3s;
    color: $gray;
  
    &:hover,
    &:active {
      color: $gray-3;
    }
  }

  @include respond-to(minWidth768) {
    padding: 10px 34px 6px 0;

    &:last-of-type {
      padding-right: 0;
    }
  }
}