@use '../../styles/variables/variables' as *;

.socialIcon {
  position: relative;
  color: black;
  transition: color 300ms ease;

  @media (hover: hover) {
    &:hover {
      color: $blue;
    }
  }
}
