@use '../../styles/variables/variables' as *;
@use '../../styles/mixins/respond-to' as *;
@use '../../styles/types/types' as *;
@use '../../styles/mixins/reset-styles' as *;

.hero {
  @include reset-styles;

  padding-top: 140px;
  overflow: hidden;
  position: relative;
  min-height: 75vh;
}

.background {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  width: 100%;

  img {
    transform: translateX(-50%);
    width: auto;
    height: max(81vh, 810px);
  }
}

.title {
  @include bold-70;
  width: 100%;

  @include respond-to(minWidth768) {
    width: 47.44%;
  }
}

p.paragraph {
  @include bigParagraph;
  margin-top: 30px;
  width: 100%;

  @include respond-to(minWidth768) {
    width: 44%;
  }
}
