$color-primary: #f03fa3;
$blue: #3e6bfd;
$cornflowerBlue: #668aff;
$newBlue: #8ea8ff;
$skyblue: #eef3ff;
$skyblue-2: #E2EAFF;
$gray: #737373;
$gray-2: #757575;
$gray-3: #3a3a3a;
$gray-4: #575757;
$almost-white-gray: #f9f9f9;
$white: #fff;
$visibilityTransition: opacity 0.3s, visibility 0.3s;
