@use '../../styles/variables/variables' as *;
@use '../../styles/mixins/respond-to' as *;
@use '../../styles/types/types' as *;
@use '../../styles/mixins/reset-styles' as *;

.stepsSection {
  @include reset-styles;

  padding: 100px 0;
  overflow: hidden;
  position: relative;
  min-height: 75vh;
}

h3.title {
  @include semibold-35;

  color: $gray-3;
  text-align: center;
}
