@use "../../styles/variables/variables" as *;
@use "../../styles/mixins/respond-to" as *;
@use "../../styles/types/types" as *;
@use "../../styles/mixins/reset-styles" as *;

.stepsSection {
  @include reset-styles;

  padding: 70px 0 10px;
  overflow: hidden;
  position: relative;

  @include respond-to(minWidth768) {
    padding: 100px 0 10px;
  }
}

h3.title {
  @include semibold-35;

  color: $gray-3;
  font-weight: 600;
  margin-bottom: 35px;
  text-align: center;

  @include respond-to(minWidth768) {
    margin-bottom: 55px;
  }
}

.progress {
  background: $newBlue;
  display: none;
  height: 5px;
  left: 12%;
  right: 12%;
  top: 35%;
  position: absolute;
  z-index: -1;

  @include respond-to(minWidth768) {
    display: block;
  }
}

.icon {
  display: block;
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
  margin-left: 50px;
  @include respond-to(minWidth768) {
    margin-left: 0;
  }
}

.carouselContainer {
  position: relative;
}

.listWrapper {
  display: flex;
  position: relative;

  @include respond-to(minWidth768) {
    column-gap: 34px;
    display: grid;
    grid-auto-flow: column;
  }
}

.cardWrapper {
  @include cardStyles;

  display: flex;
  position: relative;
  margin-right: 20px;
  padding: 48px 32px;
  color: $gray;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  p {
    min-height: 96px;
  }
  @include respond-to(minWidth768) {
    flex: initial initial initial;
    align-items: center;
    margin-right: 0;
  }
}

.number {
  position: absolute;
  top: 70px;
  left: 30px;
  font-size: 35px;
  font-weight: 600;
  color: $blue;
}

.stepsCard {
  flex: 0 0 100%;

  position: relative;
}

.cardDot {
  display: none;

  @include respond-to(minWidth768) {
    position: absolute;
    top: 32.5%;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background: $newBlue;
    border-radius: 50%;
  }
}
