@use '../../styles/mixins/respond-to' as *;
@use '../../styles/types/types' as *;
@use '../../styles/variables/variables' as *;
@use '../../styles/mixins/underline-hover' as *;
@use '../../styles/mixins/reset-styles' as *;

.partnersSection {
  @include reset-styles;

  padding-top: 100px;
  padding-bottom: 60px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

h3.title {
  @include semibold-35;

  text-align: left;
  color: $gray-3;
  font-weight: 600;
  margin-bottom: 48px;

  @include respond-to(minWidth768) {
    text-align: center;
  }
}

.buttonsWrapper {
  display: flex;
  margin-bottom: 35px;
  width: 100%;
  flex-direction: column;

  @include respond-to(minWidth768) {
    flex-direction: row;
    margin-bottom: 80px;
  }
}

.sliderDots {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-top: 20px;

  button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $cornflowerBlue;
    opacity: 0.3;

    &.selected {
      opacity: 1;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.partnersButtonsCard {
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;

  & div:nth-child(2) {
    margin-left: 25px;
  }

  & h4 {
    font-size: 14px;
    font-weight: 600;
    color: $gray-3;
  }

  @include respond-to(minWidth768) {
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 35px;

    & div:nth-child(2) {
      margin-left: 43px;
    }
    & span {
      width: 80px;
      height: 80px;
    }
    & h4 {
      font-size: 25px;
    }
  }
}

.buttonLink {
  width: 100%;

  &:first-child {
    margin-bottom: 35px;
  }

  @include respond-to(minWidth768) {
    &:first-child {
      margin-bottom: 0;
      margin-right: 24px;
    }
  }
}

.partnersLogos {
  @include cardStyles;

  padding-top: 40px;
  padding-bottom: 32px;
}

.logoPaynet {
  opacity: 60%;
}

.logoGrid {
  padding: 40px 36px 0px;
}

.sliderContainer {
  width: 216px;
  margin: 0 auto;
  overflow: hidden;

  @include respond-to(minWidth768) {
    width: auto;
    margin: initial;
  }
}

.sliderInner {
  display: flex;

  @include respond-to(minWidth768) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    column-gap: 80px;
    row-gap: 60px;
  }
}

.carouselImage {
  position: relative;
  flex: 0 0 100%;
}

p.partnersCopy {
  @include bigParagraph;

  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

  @include respond-to(minWidth768) {
    width: 49%;
  }
}

.logoGrid {
  margin-bottom: 50px;
}

a.viewMore {
  @include semibold-20;

  color: $blue !important;

  text-decoration: underline;
}
