@import "./variables/media-queries";
@import "./mixins/respond-to";

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #000;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
