@use '../../styles/variables/variables' as *;
@use '../../styles/mixins/respond-to' as *;
@use '../../styles/types/types' as *;
@use '../../styles/mixins/reset-styles' as *;

.popupBackdrop {
  @include reset-styles;

  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: grid;
  place-items: center;
  opacity: 0;
  height: 100%;
}

.popupInner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.youtubePopupWrapper {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include respond-to(minWidth1024) {
    width: 70%;
  }
}
