@use "../../../styles/variables/variables" as *;
@use "../../../styles/mixins/respond-to" as *;
@use "../../../styles/types/types" as *;
@use "../../../styles/mixins/reset-styles" as *;

.stepsSection {
  @include reset-styles;

  padding-bottom: 20px;
  margin: 50px 0;
  overflow: hidden;
  position: relative;

  @include respond-to(minWidth768) {
    margin: 60px 0;
  }
}

h3.title {
  @include semibold-35;

  color: $gray-3;
  font-weight: 600;
  margin-bottom: 35px;
  text-align: left;

  @include respond-to(minWidth768) {
    margin-bottom: 55px;
    text-align: center;
  }
}

.progress {
  background: $newBlue;
  display: none;
  height: 5px;
  left: 12%;
  right: 12%;
  top: 35%;

  position: absolute;
  z-index: -1;

  @include respond-to(minWidth768) {
    display: block;
  }
}


.carouselContainer {
  position: relative;
}

.listWrapper {
  display: flex;
  position: relative;

  @include respond-to(minWidth768) {
    column-gap: 34px;
    display: grid;
    grid-auto-flow: column;
  }

  /* Para que todas las cards tengan la misma altura */
  align-items: stretch;
}
