@use '../../styles/variables/variables' as *;
@use '../../styles/types/types' as *;
@use '../../styles/mixins/respond-to' as *;

.horizontalCard {
  @include cardStyles;
}

.iconWrapper{
  @include respond-to(minWidth1024) {
    display: flex;
    align-items: center;
  }
  span {
    width: 80px;
    height: 80px;
    background-color: $skyblue;
    border-radius: 50%;
    display: block;

    @include respond-to(minWidth1024) {
      width: 100px;
      height: 100px;
    }
  }
}

.textWrapper {
  @include respond-to(minWidth1024) {
    margin-left: 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.cardTitle {
  @include semibold-25;
  color: $gray-3;
  padding: 12px 0;

  @include respond-to(minWidth1024) {
    padding-top: 0;
    padding-bottom: 6px;
  }

  &.isBlue {
    color: $blue;
  }
}

.paragraph {
  @include regular-16;
  color: $gray;
  line-height: 1.5;

  a {
    color: $blue;
    border-bottom: 1px solid $blue;
    cursor: pointer;
  }
}