
/* GRADIENTS */
.bg-red-degrade {
  background: linear-gradient(180deg, #FFEBEB 0%, rgba(239, 244, 255, 0) 100%);
}
.bg-red-degrade-oposite {
  background: linear-gradient(180deg, rgba(255, 235, 235, 0) 0%, #FFEBEB 83.33%);
}

.bg-blue-degrade {
  background: linear-gradient(180deg, #EEF3FF 83.33%, rgba(222, 231, 255, 0) 100%);
}

.bg-blue-degrade-calculator {
  background: linear-gradient(360deg, #E2EAFF -128.74%, #3E6BFD 117.3%);}

/* WAVES */
@media only screen and (max-width: 600px) {
  .bg-coral-wave {
    background: url(/assets/images/tarjeta/compras-curva-mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 105%;
  }
}

@media only screen and (min-width: 600px) {
  .bg-coral-wave{
    background: url(/assets/images/bg/Compras_curva.png);
    background-position: center 110%;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 600px) {
  .bg-blue-wave {
    background: url(/assets/images/bg/Creditos_curva_mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 105%;
  }
}

@media only screen and (min-width: 600px) {
  .bg-blue-wave{
    background: url(/assets/images/bg/Creditos_curva.png);
    background-position: -150px 150px;
    background-size: 120%;
    background-repeat: no-repeat;
  }
}