
/* GRADIENTS */
.bg-red-degrade {
  background: linear-gradient(180deg, #FFEBEB 0%, rgba(239, 244, 255, 0) 100%);
}
.bg-red-degrade-oposite {
  background: linear-gradient(180deg, rgba(255, 235, 235, 0) 0%, #FFEBEB 83.33%);
}

.bg-blue-degrade {
  background: linear-gradient(180deg, #EEF3FF 83.33%, rgba(222, 231, 255, 0) 100%);
}

.bg-blue-degrade-calculator {
  background: linear-gradient(360deg, #E2EAFF -128.74%, #3E6BFD 117.3%);
}

.bg-blue-degrade-trabajar {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: rgba(255, 255, 255, 0);
--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, #EEF3FF);
--tw-gradient-to: #EEF3FF;
}


.bg-gradient-misionuala {
  background: linear-gradient(259.36deg, rgba(255, 103, 102, 0.3) -17.15%, rgba(142, 168, 255, 0.3) 112.98%);
}

.bg-gray-gaming {
background-color: #1B1D21;
}

.bg-blue-trabajar-button {
background-color: #EEF3FF;
}

/* WAVES */
@media only screen and (max-width: 600px) {
  .bg-coral-wave {
    background: url(/assets/images/tarjeta/compras-curva-mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 105%;
  }
}

@media only screen and (min-width: 600px) {
  .bg-coral-wave{
    background: url(/assets/images/bg/Compras_curva.png);
    background-position: center 110%;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 600px) {
  .bg-gaming-hero {
    background: url(/assets/images/gaming/Curva-hero-mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 60%;
  }
}

@media only screen and (min-width: 600px) {
  .bg-gaming-hero{
    background: url(/assets/images/gaming/Curva-hero-desktop.png);
    background-size: 100%;
    background-position: 50% 60%;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 600px) {
  .bg-gaming-academy {
    background: url(/assets/images/gamingAcademy/Curva-hero-desktop.png);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: top 80%;
  }
}

@media only screen and (min-width: 600px) {
  .bg-gaming-academy{
    background: url(/assets/images/gamingAcademy/Curva-hero-desktop.png);
    background-size: 100%;
    background-position: top 100%;
    background-repeat: no-repeat;
  }
}


@media only screen and (min-width: 600px) {
  .bg-gaming-a-body{
    background: url(/assets/images/gamingAcademy/Curva-body-desktop.png);
    background-size: 100%;
    background-position: bottom 100%;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 600px) {
  .bg-gaming-body {
    background: url(/assets/images/gaming/Curva-form-desktop.png);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: bottom left;
  }
}

@media only screen and (min-width: 600px) {
  .bg-gaming-body{
    background: url(/assets/images/gaming/Curva-form-desktop.png);
    background-size: 100%;
    background-position: bottom 100%;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 600px) {
  .bg-blue-wave {
    background: url(/assets/images/bg/Creditos_curva_mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 105%;
  }
}

@media only screen and (min-width: 600px) {
  .bg-blue-wave{
    background: url(/assets/images/bg/Creditos_curva.png);
    background-position: -150px 150px;
    background-size: 120%;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 600px) {
  .bg-blue-curve-gradient {
    background: url(/assets/images/trabajar/office/bg-trabajar.png);
    background-repeat: no-repeat;
    background-size: 250%;
    background-position: 50% 30%;
  }
}

@media only screen and (min-width: 600px) {
  .bg-blue-curve-gradient {
    background: url(/assets/images/trabajar/office/bg-trabajar.png);
    background-position: 50% 25%;
    background-size: 130%;
    background-repeat: no-repeat;
  }
}



@media only screen and (max-width: 600px) {
  .bg-coral-wave-2 {
    background: url(/assets/images/tarjeta/compras-curva-mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 105%;
  }
}

@media only screen and (min-width: 600px) {
  .bg-coral-wave-2{
    background: url(/assets/images/bg/coralWave2.png);
    background-position: -150px 150px;
    background-size: 120%;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 600px) {
  .bg-blue-wave-nosotros {
    background-color:#EFF4FF;
  }
}

@media only screen and (min-width: 600px) {
  .bg-blue-wave-nosotros{
    background: url(/assets/images/bg/Curva-nosotros-desktop.png);
    background-position: center 0%;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 600px) {
  .bg-blue-wave-prensa {
    background-color:white;
  }
}

@media only screen and (min-width: 600px) {
  .bg-blue-wave-prensa{
    background: url(/assets/images/bg/Curva-nosotros-desktop.png);
    background-position: center 0%;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 600px) {
  .bg-blue-wave-onli-mobile {
    background: url(/assets/images/bg/Creditos_curva_mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 105%;
  }
}

@media only screen and (min-width: 600px) {
  .bg-blue-wave-onli-mobile{
    background-color: white;
  }
}


.bg-prensa {
  background: linear-gradient(to top, #000000ad, #00000061), url(/assets/images/bg/aboutBg.jpeg);
  background-size: 100%;
  background-position: center;
}

.bg-header-misionuala {
  background-image: url(/assets/images/misionuala/sorteoPS5_header-desktop.png);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
  .bg-header-misionuala {
      background-image: url(/assets/images/misionuala/sorteoPS5_gradient-line1.png), url(/assets/images/misionuala/fondo-mobile.png);
      background-size: 100%;
      background-position: center bottom, top center;
      background-repeat: no-repeat;
      padding-bottom: 70px;
  }
}

@media only screen and (max-width: 550px) {
  .bg-header-misionuala {
      background-image: url(/assets/images/misionuala/sorteoPS5_gradient-line1.png), url(/assets/images/misionuala/fondo-mobile.png);
      background-size: 100%;
      background-position: center center, top center;
      background-repeat: no-repeat;
      padding-bottom: 70px;
  }
}

@media only screen and (min-width: 1280px) {
  .bg-header-misionuala {
      background-image: url(/assets/images/misionuala/sorteoPS5_header-desktop.png);
      background-size: 100%;
      background-position: top right;
      background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 767px) {
  .bg-error-mobile-img {
    background: url(/assets/images/bg/red-curve-mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
  }

  .bg-error-mobile-text {
    background: linear-gradient(180deg, #FFEBEB 0%, rgba(239, 244, 255, 0) 100%);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
  }
}
