@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  color: #3A3A3A;
}

@media only screen and (max-width: 600px) {
  .title-1 {
    @apply text-blue-250 text-4xl font-semibold leading-snug;
  }
}

@media only screen and (min-width: 600px) {
  .title-1 {
    @apply text-blue-250 text-5xl font-semibold leading-snug;
  }
}

@media only screen and (min-width: 600px) {
  .subtitle-1 {
    @apply text-xl leading-8 text-gray-150;
  }
}
@media only screen and (max-width: 600px) {
  .subtitle-1 {
    @apply  text-xl leading-8 text-gray-150;
  }
}

@media only screen and (min-width: 600px) {
  .title-2 {
    @apply  text-4xl font-medium;
  }
}
@media only screen and (max-width: 600px) {
  .title-2 {
    @apply  text-3xl font-medium;
  }
}

@media only screen and (min-width: 600px) {
  .title-3 {
    @apply  text-2xl font-semibold;
  }
}
@media only screen and (max-width: 600px) {
  .title-3 {
    @apply  text-xl font-semibold;
  }
}



.subtitle-2 {
  @apply  text-xl font-normal;
}

.subtitle-blue {
  @apply  text-2xl font-normal text-blue-250;
}

.text {
  @apply  text-lg leading-7;
}


.link, .reactMarkdown a {
  @apply text-blue-600 underline;
}

.reactMarkdown ul {
  @apply list-disc ml-6;
}

.reactMarkdown ol {
  @apply list-decimal ml-6;
}

p {
  @apply my-4;
}

.list-dot li:before {
  content: "\2022";
  color: #3e6afb;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -20px;
  position: absolute;
}

.list-dot {
  margin-left: 25px;
}

.confirm-btn-popup {
  border-radius: 92px !important;
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.rounded-full-popup {
  border-radius: 25px !important;
}

.rounded-full-popup .swal2-close:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

